body, html, #app{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 88%);
}

.react-responsive-modal-modal.customModal {
  display: grid;
  max-width: 100%;
  max-height: -webkit-fill-available;
  padding: 2rem;
}

.react-responsive-modal-modal.customModal .hourCardsWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 1rem;
  max-width: 80vw;
}

.react-responsive-modal-container.react-responsive-modal-containerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

